@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
 }

 /* ======= Your styling goes below ======= */

 .container{font-family: sans-serif;}

ul{list-style-type: none}

a{text-decoration: none;}

header{background-color: #aaa832;}

header .wrapper{
  max-width: 1247px;
  width: 97%;
  margin: 0 auto;
  }

header h1{
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}

header h1 a{
  width: 100%;
  display: inline-block;
  text-indent: -9999px;
}

header h1 a img{
  width: 100%;
  float: right;
}

nav{
  width: 34%;
  display: inline-block;
}

nav ul{width: 100%;}

nav ul li{
  padding: 0  5%;
  display: inline-block;

}


nav ul li a{
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

header .wrapper > a{
  padding: 18px 20px;
  margin-top: 26px;
  border-radius: 15px;
  display: inline-block;
  background-color: white;
  float: right;
  color:#7a132d;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  
}

header .wrapper > a:after{
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 18px;
  padding-left: 15px;
}

.banner {
  margin-bottom: 57px;
  background-image: url(../images/banner.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position:100% 28%;

}

.banner .wrapper{
  width: 97%;
  margin: 0 auto;
}

.banner .wrapper h2{
  padding-top: 291px;
  padding-bottom: 73px; 
  color: white;
  font-size: 35px;
  font-weight: 900;
  text-align: center;

}

.community .wrapper{
  width: 97%;
  margin: 0 auto;
}

.community h2{
  margin-bottom: 36px;
  text-align: center;
  font-size: 33px;
  font-weight:900;
  text-transform: uppercase;
}

.community p{
  padding-bottom: 69px;
  width: 60%;
  margin: 0 auto;
  text-transform: capitalize;
  text-align: center;
}

.options {
  border-top:3px solid #aaa832;
  border-bottom:3px solid #aaa832;
}

.options .wrapper{
  width: 97%;
  margin: 0 auto;
}

.options .wrapper ul{
  padding: 15px 0;
  width: 50%;
  margin: 0 auto;
  display: inline-block;
  
}

.options .wrapper{text-align: center;}

.options .wrapper ul li{
  margin-right: 5%;
  display: inline-block;
}

.options ul li a{
  display: inline-block;
  color: black;
  font-size: 16px;
  text-transform: uppercase;
}

.options .wrapper > a{
  padding: 15px 25px;
  margin: 16px 0;
  border-radius: 15px; 
  display: inline-block;
  background-color: #fd9632;
  color: white;
  text-transform: uppercase;

}

.options ul li:hover{
  background-color: #aaa832;
}

.options .wrapper > a:hover{
  color:#aaa832; 
  background-color: rgba(0,0,0,.5); 
}

.objective{padding-top: 37px;
padding-bottom: 95px;
}

.objective .wrapper{
  width: 97%;
  margin: 0 auto;
}

.objective h3{
  margin-bottom: 32px;
  text-align: center;
  color: #aaa832;
  font-family: sans-serif;
  font-size:  24px;
  font-weight: 900;
  text-transform: uppercase;
}

.objective span{
  margin-bottom: 46px;
  display: block;
  font-size: 18px;
  text-align: center;

  
}

.objective ul{
  text-align: center;
}

.objective ul li{
  width: 18.2%;
  margin: 0 3%;
  display: inline-block;
  background-color: #aaa832;
}

.objective img{
  padding-top: 40px;
  padding-bottom: 51px;
}

.objective h4{
  margin-bottom: 33px;
  color: white;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}

.objective ul li p{
  padding-bottom: 114px;
  display: inline-block;
  width: 80%;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: center;

}

.priority{ 
  border-top:3px solid #aaa832;
  border-bottom:3px solid #aaa832;
}

.priority .wrapper{
  width: 97%;
  margin: 0 auto;
}

.priority h3{
  margin: 41px 0 25px;
  color:#aaa832; 
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.priority h6{
  margin-bottom:50px; 
  font-size: 18px;
  text-align: center;
}

.priority ul li{
padding-left: 142px;
padding-bottom: 36px;
}

.priority ul li span{
  font-weight: 900;
  text-transform: capitalize;
}

.priority ul li:before{
  content: "\f138";
  color: #aaa832;
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 900;
}

.priority ul li span:after{
  content: "-";
  font-weight: 900;
}


.priority ul li p{
  display: inline-block;
}

.eligibilty .wrapper{
  width: 97%;
  margin:0 auto;

}

.eligibility{ 
  border-top:3px solid #aaa832;
  position: relative;

}

.eligibility h3{
  padding-top: 31px;
  color: #aaa832;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.eligibility p{
  margin: 39px 0 34px;
  text-align: center;
}

.eligibility .download-form{
  width: 306px;
  padding: 38px;
  border: 3px dotted #aaa832;
  position: relative;
  left:266px;
  bottom: 158px;
  background-color: #fff;
  transform: translateX(50%);
}

.download-form h4{
  padding-top: 38px;
  margin-bottom: 34px;
 font-size: 24px;

}

.download-form ul li{
margin-bottom: 40px;

}

.download-form ul li a{
  color: black;
  font-size: 20px;
}


.download li a div{
  display: inline-block;
} 